.contacts {
    display: flex;
    flex-direction: column;
    height: 100%; /* Элементы будут расположены по вертикали */
}

.email-phone {
    flex-grow: 0; /* Этот элемент не будет растягиваться */
    height: 45px; /* Фиксированная высота */
}

.email-phone p {
    margin: 0; /* Убираем отступы у текста внутри */
}

.adress {
    display: flex; /* Используем Flexbox для элементов внутри */
    flex-grow: 1; /* Этот элемент будет занимать все доступное пространство */
    align-items: center; /* Выравнивание содержимого по вертикали по центру */
}