.header-menu {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    font-style: normal;
    width: 175px;
    height: 55px;
    background-color: #000000;
    padding: 20px;
    color: white;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;    
}

.icon {
    transition: transform 0.3s ease-in-out;
  }

  .icon rect {
    transition: fill 0.3s ease-in-out;
    fill: white; 
  }


  .header-menu:hover .icon rect {
    fill: #766CFF;
  }

  .header-menu:hover .icon {
    transform: rotate(45deg); 
  }