/* Стандартный (Roman) */
@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueRoman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Черный (Black) */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueBlack.otf') format('opentype');
    font-weight: 900;  /* Черный шрифт */
    font-style: normal;
  }
  
  /* Черный курсив (Black Italic) */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueBlackItalic.otf') format('opentype');
    font-weight: 900;  /* Черный шрифт */
    font-style: italic;
  }
  
  /* Жирный (Bold) */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueBold.otf') format('opentype');
    font-weight: bold;  /* Жирный шрифт */
    font-style: normal;
  }
  
  /* Жирный курсив (Bold Italic) */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueBoldItalic.otf') format('opentype');
    font-weight: bold;  /* Жирный шрифт */
    font-style: italic;
  }
  
  /* Тонкий (Thin) */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueThin.otf') format('opentype');
    font-weight: 100;  /* Очень тонкий шрифт */
    font-style: normal;
  }
  
  /* Тонкий курсив (Thin Italic) */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueThinItalic.otf') format('opentype');
    font-weight: 100;  /* Очень тонкий шрифт */
    font-style: italic;
  }
  
  /* Легкий (Light) */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueLight.otf') format('opentype');
    font-weight: 300;  /* Легкий шрифт */
    font-style: normal;
  }
  
  /* Легкий курсив (Light Italic) */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueLightItalic.otf') format('opentype');
    font-weight: 300;  /* Легкий шрифт */
    font-style: italic;
  }
  
  /* Средний (Medium) */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueMedium.otf') format('opentype');
    font-weight: 500;  /* Средний вес шрифта */
    font-style: normal;
  }
  
  /* Средний курсив (Medium Italic) */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueMediumItalic.otf') format('opentype');
    font-weight: 500;  /* Средний вес шрифта */
    font-style: italic;
  }
  
  /* Тяжелый (Heavy) */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueHeavy.otf') format('opentype');
    font-weight: 800;  /* Тяжелый шрифт */
    font-style: normal;
  }
  
  /* Тяжелый курсив (Heavy Italic) */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueHeavyItalic.otf') format('opentype');
    font-weight: 800;  /* Тяжелый шрифт */
    font-style: italic;
  }
  
  /* Ультра легкий (UltraLight) */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueUltraLight.otf') format('opentype');
    font-weight: 200;  /* Ультра легкий шрифт */
    font-style: normal;
  }
  
  /* Ультра легкий курсив (UltraLight Italic) */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeueUltraLightItalic.otf') format('opentype');
    font-weight: 200;  /* Ультра легкий шрифт */
    font-style: italic;
  }
  

 
  